body{
    background-image: url('blue-sky-background-and-white-clouds-vector.jpg');

    align-items: center;
    text-align: center;
    background-size: 100%;
}
.capcelera{
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 20pc;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}
#lloc{
    font-size: 2pc;

    margin-bottom: 0%;
}
#graus{
    font-size: 5pc;
    margin-top: 1px;

    margin-bottom: 0%;
}
#nublado{
    font-size: 1.5pc;
    margin-bottom: 0%;
}
