body{
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 20px;
}
h1{
    color: white;
    margin-left: 25px;  
}
#general{
    border: solid 2px;
    border-color: white;
    border-radius: 15px;
}
#textbox{
    height: 40px;
    width: 200px;
    margin: 10px;
    margin-left: 20px;
    border: solid 5px;
    border-radius: 20px;
}
.botones{
    height: 30px;
    width: 40px;
    margin: 10px;
    background-color: grey;
    color: white;
}
.botones:hover{
    transform: scale(1.05);
    background-color: lightblue;
}