body{
    background-image:url("https://cdns3.eltiempo.es/eltiempo/blog/noticias/2019/03/11135102/cumulus_tipos-de-nubes.jpg");

}
#grados{
    color:#2ECC40;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}