#arriba{
    display: flex;
    background-color: blue;
    margin-top: 25px;
    margin-left: -10px;
    width: 960px;
    height: 45px;
}
#inputArriba{
    margin-left: 250px;
    

}
#palabras{
    display: flex;
    height: 30px;
    margin-bottom: 20px;
    margin-top: -20px;
    
}

.menuArriba{
    margin-left: 30px;
}