body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border-radius: 20px;
  max-width: 300px;
}

h1 {
  color: rgb(117, 6, 6);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

#searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  button {
    border-radius: 5px;
    padding: 15px 25px;
    background-color: rgb(117, 6, 6);
    color: aliceblue;
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
    margin: 0 auto;
  }
}


#searchInput {
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgb(107, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(150, 10, 10);
  width: 100%;

}

#gifContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-between;
  padding: 20px;
}